@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.left{
    width: 22%;
    height: 90vh;
    background-color:#751e76; /*: rgb(36, 172, 250);*/
    color: blanchedalmond;
    padding: 20px;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right{
    width: 78%;
    height: 90vh;
    background-color:rgb(227, 233, 231);
    float: left;
    overflow: auto;
    padding: 0px 20px;
    color: black;
}

.profilepic{
    border-radius: 50%;
    width: 180px;
    height: 195px;
    object-fit: cover;
    margin-bottom: 30px;
}

h1{
    font-size: 22px;
    text-align: center;
}

.btn{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}
.btn:hover{
    cursor: pointer;
}

.bio{
    text-align: center;
    font-size: 1.06em;
    padding: 10px;
}

.nav-bar{
    display: flex;
    color:rgb(95, 49, 95);
    /* background-color:rgb(57, 59, 59); */
    background: -webkit-linear-gradient(left, rgb(92, 218, 92), purple);
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    height: 10vh;
}
.nav-bar h2{
    font-size: 2em;
    margin-left: 15px;
}
.nav a{
    color: rgb(12, 12, 12);
    text-decoration: none;
    margin: 0px 8px;
}
.nav a:hover{
    margin: 0 5px;
    color: black;
    transition: ease-in-out 0.5s;
    font-weight: 600;
}

.content{
    margin: 40px 60px;
    
}
.content p{
    padding: 5px;
    font: optional;
}
.resume_project{
    display: flex;
    
    margin: 15px 0;
}
.resume_project a{
    text-align: initial;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: max-content;
    background-color: white;
    text-decoration: none;
    color: black;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 15px;
    margin-right: 50px;
}
.resume_project a:hover{
    background-color: #116dff;
    color: aliceblue;
}


.footer{
    padding: 15px 2vw;
    background-color: rgb(174, 177, 177);
    color: rgb(0, 0, 0);
}
.contacts{
    display: flex;
    justify-content: space-between;
}
.links{
    margin-top: 2vh;
}
.links a{
    margin-right: 1vw;
    text-decoration: none;
    color: rgb(34, 0, 255);
}
a img{
    width:30px;
    height: 30px;
    border: 1px white solid;
}
#other_contacts{
    display: flex;
    flex-direction: column;
    text-align: end;
}
#other_contacts span{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.project_head{
    font-size: 35px;
    padding-top: 7vh;
    font-family: Arial, Helvetica, sans-serif;
}
.projects {
    min-height: 90vh;
    background-color: rgb(216, 201, 179);
    padding-bottom: 20px;
    /* text-align: center; */
}
.project{
    min-height: 50vh;
    height: max-content;
    background-color: white;
    /* border: 1px solid rgba(16, 10, 10); */
    box-shadow: 0 0 5px rgba(8,7,16,0.6);
    padding: 10vh 2vw;
    margin: 40px 22vw 0;
    /* text-align: center; */
}
.project_no{
    color: blue;
    font-size: 24px;
}
.project_name{
    font-size: 22px;
}
.project_logo{
    height:50px;
    float: right;
}
.project_details{
    color: rgb(66, 59, 59);
    padding: 10px;
}
.project_link{
    box-sizing: border-box;
    width: max-content;
    background-color: rgb(38, 230, 63);
    text-decoration: none;
    color: rgb(68, 42, 220);
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 15px;
    margin-right: 50px;
}
.project_link:hover{
    background-color: rgb(234, 227, 227);
    border: 2px solid rgb(225,177,81);
}


#btn2{
    display: none;
}


@media only screen and (max-width:700px){
.contact{
    display:none;
}
.left{
    width: 40%;
}
.right{
    width: 60%;
}
.content{
    margin: 30px 30px;
}
}

@media only screen and (max-width: 500px) {
.left{
    float: none;
    width: 100%;
    padding: 0;
}
.left *{
    transform: scale(1.2);
}
button {
    margin-top: 10px;
}
.right{
    float: none;
    width: 100%;
    height: auto;
}
.content{
    margin: 20px 0;
}
.nav-bar h2{
    font-size: 1.6em;
}
.nav{
    position: absolute;
    right:0;
}
.nav a{
    font-size: 0.9em;
    margin: 0 2px;
}
.nav a:hover{
    margin: 0 2px;
    font-weight: 400;
}

.project{
    margin: 30px 2vw;
}

#btn1{
    display: none;
}
#btn2{
    display: block;
}

}